body{
    background: #AE75C7;
}
#main{
    width: 150px;
    height: 150px;
    float: right;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    position: fixed;
    animation-duration: 2s;
    background: #00E08A;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-size: 40px;
}
@keyframes go {
    0%{
        top: 150px;
        left: 0px;
    }

    50%{
         top: 200px;
         left: 200px;
    }
    100%{
        top: 200px;
        left: 500px;
    }
}
.ev{
    float: right;
}